.header {
	width: 100%;
	background-color: $header-background;
	&__container {
		@include flex(row, center, center, wrap);
		padding: spaceIncr(3) 0 spaceIncr(11);
		@include tablet {
			@include flex(row, space-between, center, nowrap);
			padding: spaceIncr(3.375) 0 spaceIncr(15.125);
		}
	}

	&__logo-link {
		@include flex();
	}

	&__logo {
		height: 28px;
	}

	&__link-list {
		width: 100%;
		padding: 0;
		margin: spaceIncr(3) 0 0;
		list-style: none;
		@include flex(row, space-between);
		@include tablet {
			width: auto;
			margin: 0;
		}
	}

	&__link-item {
		@include flex();
		width: 47.8134%;
		@include tablet {
			width: auto;
			&:nth-of-type(2) {
				margin-left: spaceIncr();
			}
		}
	}

	&__link {
		@include flex();
		@extend .nav-link;
		width: 100%;
		height: 100%;
		border-radius: 20px;
		padding: spaceIncr() 0;
		text-decoration: none;
		color: $font-navigation-inactive;

		&:hover {
			color: $font-navigation-active;
			text-decoration: underline;
		}
		@include tablet {
			padding: spaceIncr() spaceIncr(2);
		}
	}

	&__active-link {
		background-color: $navigation-focus;
		color: $font-navigation-active;
		text-decoration: none;
	}
}
